.home-section {
    background-color: #ff7900;
    color: white;
    padding: 50px;
}

.home-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.header-left h1 {
    margin: 0;
}

.header-right {
    margin-left: 300px;
    text-align: left;
    line-height: 1.5;

}

.subtext {
    font-size: 14px;
    line-height: 1.5;
}

.shop-now-button {
    background-color: black;
    color: #ff7900;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    line-height: 1.5;
}

.cards-container {
    display: flex;
    justify-content: space-between;
}
.card1{
    width: 250%; /* Adjusted card width */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 5px;
}
.card1 img {
    width: 100%; /* Make the image fill the card width */
    height: 600px; /* Maintain aspect ratio */ /* Set max height to control image size */
    border-radius: 10px;
    object-fit: cover;
}
.card {
    width: 100%; /* Adjusted card width */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.card img {
    width: 100%; /* Make the image fill the card width */
    height: 600px; /* Maintain aspect ratio */ /* Set max height to control image size */
    border-radius: 10px;
    object-fit: cover;
}